<section class="information">
  <div class="container-large">
    <div class="information__heading">
      <div class="information__heading-title">Informasi Terupdate</div>
      <%= link_to 'Selengkapnya', '#' , class: 'information__read-more' %>
    </div>

    <div class="information__content">
      <div class="information__item">
        <%= link_to '', class: 'information__link' do %>
          <div class="information__image-container">
            <%= image_tag 'bg.jpg', class: 'information__image' %>
          </div>
          <div class="information__text-container">
            <h3 class="information__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
            <p class="information__description">Happy Sunday from Software Expand In this week's edition of Feedback Loop, we talk about the future of Windows Phone, wether they can do anything in the future or not.</p>
          </div>
        <% end %>
        <p class="information__author-date"><span>Susano'o</span> - 29 Februari 2018</p>
      </div>

      <div class="information__item">
        <%= link_to '', class: 'information__link' do %>
          <div class="information__image-container">
            <%= image_tag 'bg.jpg', class: 'information__image' %>
          </div>
          <div class="information__text-container">
            <h3 class="information__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
            <p class="information__description">Happy Sunday from Software Expand In this week's edition of Feedback Loop, we talk about the future of Windows Phone, wether they can do anything in the future or not.</p>
          </div>
        <% end %>
        <p class="information__author-date"><span>Susano'o</span> - 29 Februari 2018</p>
      </div>

      <div class="information__item">
        <%= link_to '', class: 'information__link' do %>
          <div class="information__image-container">
            <%= image_tag 'bg.jpg', class: 'information__image' %>
          </div>
          <div class="information__text-container">
            <h3 class="information__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
            <p class="information__description">Happy Sunday from Software Expand In this week's edition of Feedback Loop, we talk about the future of Windows Phone, wether they can do anything in the future or not.</p>
          </div>
        <% end %>
        <p class="information__author-date"><span>Susano'o</span> - 29 Februari 2018</p>
      </div>

      <div class="information__item">
        <%= link_to '', class: 'information__link' do %>
          <div class="information__image-container">
            <%= image_tag 'bg.jpg', class: 'information__image' %>
          </div>
          <div class="information__text-container">
            <h3 class="information__title">UKM Dance Primakara Adakan Lari Marathon Keliling Dunia</h3>
            <p class="information__description">Happy Sunday from Software Expand In this week's edition of Feedback Loop, we talk about the future of Windows Phone, wether they can do anything in the future or not.</p>
          </div>
        <% end %>
        <p class="information__author-date"><span>Susano'o</span> - 29 Februari 2018</p>
      </div>
    </div>
  </div>
</section>
