<!DOCTYPE html>
<html>
  <head>
    <title>RailsStarterKit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :head_block %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :script %>
  </body>
</html>
