<!DOCTYPE html>
<html>
  <head>
    <title>Primakara Info</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :head_block %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :script %>
  </body>
</html>
